@import "bootstrap/scss/bootstrap";
@import "react-toastify/scss/main";
@import "toastify";

#App {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;

}

.offcanvas-btn {
	border-radius: 0 15rem 15rem 0;
	position: fixed;
	left: 0;
	top: 8vh;
	padding: 10px 20px;
	background-color: #007bff;
	/* Button background color */
	color: #fff;
	z-index: 999;

	/* Adjust the z-index as needed to ensure it's above other elements */
	&:hover {
		background-color: #0056b3;
		/* Button background color on hover */
	}
}

.navbar-expand .navbar-nav .nav-link {
	padding-right: 0;
}

.img-square {
	aspect-ratio: 1;
	object-fit: cover;
}

.invalid-value {
	font-size: smaller;
	color: $danger;
}